
.modal-content {
    background-color: #f8f9fa; /* Màu nền cho modal */
    border-radius: 20px; /* Bo tròn các góc của modal */
    margin: auto; /* Căn giữa modal */
}

.modal-header, .modal-footer {
    border: none; /* Bỏ viền */
}

.modal-body img {
    border-radius: 10px; /* Bo tròn cho ảnh trong modal */
}

.modal-body h4 {
    font-size: 1.5rem; /* Kích thước chữ cho tên sản phẩm */
    font-weight: bold;
}

.modal-body p {
    margin-bottom: 5px; /* Giảm khoảng cách giữa các đoạn văn bản */
}

